@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Alumni Sans", sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --background-color: #222;
}

.slick-track {
  text-align: center;
}
.slick-slide {
  width: 300px;
}
@media (max-width: 400px) {
  .slick-slide {
    width: 250px;
  }
}
.slick-slider .slick-list {
  overflow: visible;
}
.slick-slide.slick-current img {
  transform: scale(1.1);
  transition: 0.5s;
  filter: blur(0px);
  pointer-events: unset;
}
.slick-slide img {
  filter: blur(3px);
  pointer-events: none;
}
