.home {
  padding: 20px;
  min-height: 100vh;
  background-color: var(--background-color);
  background-image: url("../public/noise.png");
  position: relative;
  overflow: hidden;
}
.home .container {
}
.home .container .nav {
  text-align: center;
  padding: 10px 0;
}
.home .container .nav img {
  height: 90px;
}
.home .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1600px;
}
.home .content .card {
  /*   width: 150px;
  height: 350px; */
}
.home .content .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .content .card .box img {
  height: 300px;
  object-fit: cover;
  width: 230px;
 
}
.home .content .card .box h2 {
  position: absolute;
  bottom: -200px;
  font-size: 35px;
}

.home .container .names {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(8, minmax(140px, auto));
}
.home .container .names h2 {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 23px;
}
.home .container .names h2:hover {
  color: #314364;
}
@media (max-width: 1000px) {
  .home .container .names {
    display: none;
  }
}
